# Archivos grandes del sistema
WSA_2407.40000.4.0_x64/

# Dependencias
node_modules/
gym-apk/

# Builds
dist/
build/
*.exe

# Variables de entorno
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo

# Otros
desktop.ini
*.lnk

# Datos personales del usuario
historial.csv
stats.json
config.json
aplicacion/config.json
